
<!-- <div class="message-bubble" [ngClass]="{'own-message': isOwnMessage}">

    <div class="message-content mat-elevation-z1">
        <div class="message-header">
            <span class="username">{{ message.senderUsername }}</span>
            <span class="timestamp">{{ formatTimestamp(message.timestamp) }}</span>
        </div>
        <div class="message-text">
            {{ message.content }}
        </div>
    </div>

</div> -->
<div class="flex flex-col gap-1" >

   
        <div >
            <span [ngClass]="{'float-end':isOwnMessage,'float-start':!isOwnMessage}"  class="text-white-200 text-xs ">{{ formatTimestamp(message.timestamp) }}</span>
         
        </div>
        
        <div [ngClass]="{'bg-purple-100':isOwnMessage,'bg-purple-300':!isOwnMessage}" class="rounded-xl bg-purple-100 text-white-100 lg:max-w-[350px] p-2">
            {{ message.content }}
        </div>
    
        
   
</div>


<!-- <div class="flex flex-col gap-1">
    <div >
        <span  [ngClass]="{'float-end':isOwnMessage,'float-start':!isOwnMessage}" class="text-white-200 text-xs ">{{ formatTimestamp(message.timestamp) }}</span>
     
    </div>
    
    <div [ngClass]="{'bg-purple-100':isOwnMessage,'bg-purple-200':!isOwnMessage}" class="rounded-xl bg-purple-100 text-white-100 lg:max-w-[350px] px-2 py-3">
        {{ message.content }}
    </div>

    
</div> -->

