<app-header class="absolute top-0 w-screen h-[64px] py-3"/>
<div class="min-h-screen bg-purple-500 flex flex-row gap-8 pt-8 px-16">

  <div class="top-[64px]  flex-1   sticky h-svh overflow-y-auto  side-bar">
    <!-- <h1 class="ml-2 my-3 text-white-100 text-3xl font-bold">Chat</h1> -->
    <app-user-list
      [selectedUserId]="selectedRecipientId"
      (userSelected)="onUserSelectedx($event)"
    />
  </div>
  
  <div class="flex-auto  bg-purple-500 rounded-xl flex flex-col  gap-1 px-8  min-w-[800px] top-[64px] sticky h-svh chat-window">
    
    <app-recipient-status  class="mb-2"/>
    <div class="flex flex-col px-2 gap-2 overflow-auto h-full">
      <app-message-bubble

          *ngFor="let message of messages$ | async"
          [ngClass]="{'self-start':!isOwnMessage(message.senderId),'self-end':isOwnMessage(message.senderId)}"
          [message]="message"
          [isOwnMessage]="isOwnMessage(message.senderId)"
          [isPrivate]="isPrivateMessage(message)">
        </app-message-bubble>
    </div>
    
    <app-message-input (sendMessage)="onSendMessage($event)" class="sticky bottom-[64px]" class="mt-2"/>
    <!-- <app-recipient-status [isOnline]="true" class="mb-4"/>
    <app-contact-item [isOnline]="true"/> -->
  </div>
</div>