<app-header></app-header>
<div class="chat-container">
  <mat-drawer-container class="chat-drawer-container">
    <!-- User list sidebar -->
    <mat-drawer mode="side" opened class="user-list-drawer">
      <app-user-list 
        [selectedUserId]="selectedRecipientId"
        (userSelected)="onUserSelected($event)">
      </app-user-list>
    </mat-drawer>

    <!-- Main chat content -->
    <mat-drawer-content class="chat-content">
      <div class="messages-container">
        <!-- <div *ngIf="selectedRecipientId" class="private-chat-indicator">
          Private chat mode
          <button mat-button (click)="selectRecipient(null)">Exit</button>
        </div> -->
        <app-message-bubble
          *ngFor="let message of messages$ | async"
          [message]="message"
          [isOwnMessage]="isOwnMessage(message.senderId)"
          [isPrivate]="isPrivateMessage(message)">
        </app-message-bubble>
      </div>

      <!-- Message input -->
      <div class="message-input-container">
        <app-message-input
          (sendMessage)="onSendMessage($event)">
        </app-message-input>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
