<div class="rounded-xl flex gap-3 items-center bg-purple-300 p-3 min-w-[400px] ">
    <div class="flex items-center justify-center">
        <mat-icon class="scale-[2] mx-3  text-white-200">account_circle</mat-icon>
        <div [ngClass]="{'bg-[#16a54d]': recipienttUser.isOnline}" class="rounded-full size-2  self-end z-10 -mb-2 -ml-[14px]"></div>
    </div>
    


<div>

    
    <div class="flex gap-1 items-center">
        <span class="text-white-100">{{recipienttUser.username}}</span>
        <!-- <div class="rounded-full size-2 bg-[#16a54d]"></div> -->
    </div>
    <p class="-mt-1 text-xs text-white-200">{{getUserStatusAsText()}}</p>
</div>
</div>


